<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="Wanews，即時新聞，國際新聞，美食旅遊，新聞，閱讀，社會新聞，娛樂新聞，熱門新聞">
    <meta name="description" content="WaNews是一款新闻閱讀類工具，能够幫你發現最有價值及最新鮮的新闻資訊，不出屋盡曉天下事。">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta http-equiv="expires" content="max-age=21600">
    <title>WaNews</title>
    <script src="../bin/flexible.min.js?v=20161021"></script>
    <!--<script src="../js/flexible_css.debug.js"></script>-->
    <!--<script src="../js/flexible.debug.js"></script>-->
   <!-- <link rel="stylesheet/less" href="../less/index.less">-->
    <!--<script src="../js/less.min.js"></script>-->
    <link rel="stylesheet" href="../bin/index.min.css?v=20161020">
    <!--<link rel="stylesheet" href="../css/index.css">-->
</head>
<body style="height: 100%">
<div class="outer2" >
    <div class ="bottomBanner" >
        <a href="javascript:void(0);"><img class='banner'src="../image/banner.png"/><img src="../image/banner_button.png" class="btn"/></a>
    </div>
   <div class="innerTop">
       <div class='back'><a href='main.html'><img src="../image/back.png"/></a></div>
       <a class="wa"><img class='inner' src="../image/innerPage.png"/></a>
   </div>
    <div class="center">

    </div>
</div>
<script src="../js/jquery-2.1.3.min.js?v=20160308"></script>
<!--<script src="../js/base/util.js?v=20160511"></script>-->
<script src="../bin/gg.min.js?v=20161021"></script>
<script src="../bin/model.min.js?v=20161021"></script>
<!--<script src="../js/base/config.js?v=20160628"></script>-->
<!--<script src="../bin/cImage.min.js"></script>-->
<!--<script src="../js/jquery-2.1.3.min.js"></script>
<script src="../js/base/util.js"></script>
<script src="../js/base/core.js"></script>
<script src="../model/user.js"></script>
<script src="../model/channel.js"></script>
<script src="../viewModel/vUser.js"></script>
<script src="../viewModel/vChannel.js"></script>-->
<script src="../bin/cImage.min.js?v=20161021"></script>
<!--<script src="../controller/cImage.js?v=20161020"></script>-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', gg.config.ga_ua_id , 'auto');
    ga('send', 'ArticleInitialPage');
</script>
</body>
</html>