<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta http-equiv="expires" content="max-age=21600">
    <title>WaNews</title>
    <script src="../js/flexible_css.debug.js"></script>
    <script src="../js/flexible.debug.js"></script>
    <link rel="stylesheet" href="../css/maintain.css">
</head>
<body>
    <div class="maintain">
        <img src="../image/maintain.png"/>
        <p>系統維護中......</p>
    </div>
</body>
</html>