<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta http-equiv="expires" content="max-age=21600">
    <title>WaNews</title>
    <script src="../bin/flexible.min.js?v=20161021"></script>
    <!--<script src="../js/flexible_css.debug.js"></script>-->
    <!--<script src="../js/flexible.debug.js"></script>-->
    <!-- <link rel="stylesheet/less" href="../less/index.less">-->
    <!-- <script src="../js/less.min.js"></script>-->
    <link rel="stylesheet" href="../bin/imgPoll.min.css?v=20161020">
    <!--<link rel="stylesheet" href="../css/gg/imgPoll.css?v=20160308">-->
    <link rel="stylesheet" href="../bin/gg.min.css?v=20160505">
    <!--<link rel="stylesheet" href="../bin/index.min.css?v=20161020">-->
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
<div class="outer">
    <div class="search-f">
        <div class="keyword">
            <h3>热门关键字</h3>
            <a href="javascript:void(0)">娱乐</a>
            <a href="javascript:void(0)">社会</a>
            <a href="javascript:void(0)">美食旅游</a>
            <a href="javascript:void(0)">FUN</a>
            <a href="javascript:void(0)">小清新</a>
            <a href="javascript:void(0)">娱乐</a>
            <a href="javascript:void(0)">社会</a>
            <a href="javascript:void(0)">美食旅游</a>
            <a href="javascript:void(0)">FUN</a>
            <a href="javascript:void(0)">小清新</a>
        </div>
        <h3>今日热榜</h3>
        <div class="ranking">
            <a href="javascript:void(0)"><span class="ranking-num ranking-top">1</span>【新北中和】貴族世家 中和中山店(鮮饌館)收藏.&nbsp;&nbsp;&nbsp; &nbsp;</a>
            <a href="javascript:void(0)"><span class="ranking-num ranking-top">2</span>懶人新招《杯套收納術》除了收藏還有一個更好的用法（光）</a>
            <a href="javascript:void(0)"><span class="ranking-num ranking-top">3</span>東華旁的落羽松</a>
            <a href="javascript:void(0)"><span class="ranking-num">4</span>#圖 內湖金面山頂</a>
            <a href="javascript:void(0)"><span class="ranking-num">5</span>歐洲兩個月-行李箱？後背包？</a>
        </div>
    </div>
</div>
<script src="../js/jquery-2.1.3.min.js?v=20160308"></script>
<script src="../bin/openApp.min.js?v=20161021"></script>
<!--<script src="../js/openApp.js?v=20160308"></script>-->
<script src="../bin/gg.min.js?v=20161021"></script>
<!--<script src="../js/base/util.js"></script>-->
<!--<script src="../js/base/imgPoll.js"></script>-->
<!--<script src="../js/base/core.js"></script>-->
</body>
</html>